body {
   
}

footer {
    background-color: #f5f5f5;
    padding: 40px 0px; /* make foot stands clearer */
}

.navbar img {
	margin-top: -29px;
}

.navbar {
   	padding: 20px 0px;
}

span,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif; font-style:italic;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #8AD0BF;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

section {
    padding: 100px 0;
}

section.success {
    /*color: #F68248;*/
    color: #fff;
    background: #8AD0BF;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}


.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Mansory */
.mansory-item {
	padding: 10px; /* separate a bit items */
}

#mansory-blog .mansory-item {
	width: 50%;
}

#mansory-thanks .mansory-item {
	width: 20%;	
}

#mansory-products .mansory-item {
	width: 20%;	
}

/* Embedded google maps */
#map-canvas {
    width: 500px;
    height: 400px;
}

/* Profile image */
.profile img {
	height: 450px;
	/*object-fit: contain;*/
}

.name {
	font-family: 'Pacifico', cursive;
	font-weight: 600;
}

blockquote p {
	/*font-family: 'Fanwood Text', serif;*/
	font-family: 'Reenie Beanie', cursive;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

h1:after{
	/*content: url("../img/tache_vert_2.png");*/
	/*background-color: red; content:"\00a0";*/
    /*padding: 0 20px;*/
    margin-left: -20px; 
}