<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
            	<div class="col-lg-8 col-lg-offset-2">
					<ul class="list-inline">
						<li><p><strong><a href="{{site.baseurl}}/project">Notre projet</a></strong></p></li>
						<li><p><strong><a href="{{site.baseurl}}/">Nous soutenir</a></strong></p></li>
                        <li><p><strong><a href="{{site.baseurl}}/">Blog</a></strong></p></li>
						<li><p><strong><a href="{{site.baseurl}}/">Inscription</a></strong></p></li>
                        <li><p><strong><a href="{{site.baseurl}}/contact">Nous contacter</a></strong></p></li>
					</ul>
            	</div>
            </div>
        </div>
   	</div>
   	<div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Créaphé 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{site.baseurl}}/public/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/public/js/bootstrap.min.js"></script>


   <!-- <script src='/public/js/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script src='/public/js/moment.min.js'></script>
	<script src='/public/js/fullcalendar.min.js'></script>

	<script src="/public/js/mansory.min.js"></script>
	<script src="/public/js/imagesloaded.min.js"></script>
	<script src="/public/js/holder.min.js"></script>
	<script src="/public/js/app.js"></script>-->