.page-header { 
	border-bottom:none; /* remove line */
}

/* Navbar */
.navbar {
   	padding: 10px 0px;
}

.nav.navbar-nav.navbar-right li a {
	/*font-weight: bolder;
    color: #F68248;*/
}

.navbar img {
	margin-top: -29px;
}

/* Body */
body {
  padding-top: 80px; /* Move down content because of navbar */
  font-family: 'Lato', sans-serif; font-weight:400; font-style:italic; /* super global font */
}

/* Footer */
.footer {
	margin-top: 10px; /* isolates a bit more from the rest */
	padding: 50px 0px; /* make foot stands clearer */
	background-color: #f5f5f5;
	bottom: 0px; /* stick at the bottom of the page */
}

/* sections */
.firstsection {
	background-color: #8AD0BF;
	color: white;
}

.secondsection {
	background-color: white;
}

/* video starter */
#starter {
	position: relative;
	height: 500px;
}
#videobg {
	z-index: -1;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.transparentbg {
	background-color:transparent !important;
}

.whitecolor {
	color: white;
}

/* Mansory */
.mansory-item {
	padding: 10px; /* separate a bit items */
}

#mansory-blog .mansory-item {
	width: 50%;
}

#mansory-thanks .mansory-item {
	width: 20%;	
}

#mansory-products .mansory-item {
	width: 20%;	
}

/* Embedded google maps */
#map-canvas {
    width: 500px;
    height: 400px;
}

/* Profile image */
.profile img {
	height: 450px;
	/*object-fit: contain;*/
}

/* Thank you */
.thankyou {
	/*font: normal normal normal 116px/1.4em 'Fredericka the Great',fantasy;*/
	font-family: 'Fredericka the Great', fantasy;
	font-size: 116px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
letter-spacing: normal;
	/*color: #FFFFFF;*/
}

.thankyou span {
	color: #F45830;
}

/* Funding */
#funding {
	background-image: url("../../../content/fond_SITE_1.png"); 
  	/*background-size: 100% auto;*/
  	background-repeat: no-repeat;
  	background-size: 100% 500px;
}