.page-header { 
	border-bottom:none; /* remove line */
}

body {
  padding-top: 50px; /* Move down content because we have a fixed navbar that is 50px tall */
}

#videobg {
	z-index: -1;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#starter {
	position: relative;
	height: 600px;
}

.transparentbg {
	background-color:transparent !important;
}

.whitecolor {
	color: white;
}